/* ---- AboutView ----------------------------------------------------------- */

/* main content container */
#AboutView #AboutBody {
   margin-top    : 0;
   margin-bottom : 4ex;
   line-height   : 2.6ex;
   font-family   : "Roboto";
   font-size     : 1em;

   article {
      margin-bottom : 3ex;

      h2 {
         margin-bottom: 1ex;
      }

      ul {
         margin-top          : 0;
         padding-left        : 0;
         list-style-position : outside;
         list-style-type     : square;

         li {
            margin-bottom: 0.5ex;
         }
      }

      .flexed {
         display: flex;
         flex-flow: wrap;
      }

      .helper {
         margin-left: 3ex;
      }
   }
}

/* map icon helper */
@media screen and (max-width: 600px) {
   #AboutView #AboutBody article .helper {
      margin-left: 1em;
   }
}

/* ---- Links ---------------------- */

#AboutView #AboutBody a {
   color           : #008fd5;
   text-decoration : none;

   &:hover {
      color         : #1e70bf;
      border-bottom : 2px solid;
   }
}
