/* ---- HERO ---------------------------------------------------------------- */

#hero {
   margin         : 1.5em 0 2.5em;
   border-radius  : 25px;
   text-align     : center;
   font-family    : "Roboto";

   .title {
      margin      : 0;
      font-size   : 4.5em;
      font-weight : 700;
      line-height : 1;
   }

   .subtitle {
      font-weight : 400;
      margin      : 0;
   }
}

#hero {
   hgroup {
      margin-bottom: 1.3em;
   }

   .button {
      display          : inline-block;
      padding          : 0.8em 1.5em;
      border-radius    : 4px;
      text-align       : center;
      font-family      : "Lato";
      font-size        : 1.25em;
      font-weight      : 700;
      text-decoration  : none;
      background-color : #24C55B;
      color            : white;

      &:hover {
         background-color: #19910a;
      }

      i {
         margin-left: 0.5em;
      }
   }
}

@media screen and (max-width: 760px) {
   #hero .title {
      font-size: 3.5em;
   }
}

@media screen and (max-width: 600px) {
   #hero .title {
      font-size: 2em;
   }
}

/* ---- BodyContainer ------------------------------------------------------- */

/* ---- Layout --------------------- */

/* parent container */
#AppView #BodyContainer {
   margin-top    : 1em;
   margin-bottom : 3em;

   .button {
      display          : inline-block;
      padding          : 0.8em 1.5em;
      border-radius    : 3px;
      font-weight      : 700;
      font-family      : "Lato";
      text-decoration  : none;
      background-color : #E0E1E2;
      color            : rgba(0,0,0,.6);

      i {
         margin-left: 0.75em;
      }

      &:hover {
         background-color: lightgray;
      }
   }

   .copy {
      font-family : "Roboto";
      line-height : 2.6ex;
      font-size   : 15px;
   }

   article {
      display       : flex;
      margin-bottom : 1.5rem;

      main {
         flex: 2;
      }

      aside {
         flex: 1;

         img {
            display       : block;
            margin-top    : 3.5em;
            margin-left   : 1em;
            max-height    : 100%;
            width         : 230px;
            border-radius : 5px;
         }
      }
   }

}

@media screen and (max-width: 600px) {
   #AppView #BodyContainer aside {
      display: none;
   }
}