/* ---- ContactView --------------------------------------------------------- */

#ContactView {
   display        : flex;
   flex-direction : column;
   height         : 98vh;

   .empty {
      flex: 1;
   }

   article {
      font-family : "Roboto";
      font-weight : 400;
      line-height : 1.4;
      margin      : 1em 0 2em;

      .helper {
         margin-left: 1em;
      }
   }

   h1 {
      font-size: 2em;
   }

   .table {
      display         : table;
      border-spacing  : 0 0;
      border-collapse : separate;
      margin-bottom   : 1em;

      .row {
         display: table-row;
      }

      label, data {
         display: table-cell;
      }

      label {
         padding-right  : 1.5em;
         text-align     : left;
         vertical-align : top;
         font-weight    : bold;
      }

      .address {
         padding-top: 1em;
      }
   }
}

@media screen and (max-width: 760px) {
   #ContactView h1 {
      font-size: 1.5em;
   }
}

@media screen and (max-width: 560px) {
   #ContactView article .helper {
      margin-left: 0.7em;
   }
}

@media screen and (max-width: 420px) {
   #ContactView article .helper {
      display: none;
   }
}

/* ---- Links ---------------------- */

#ContactView article a {
   color           : #4183c4;
   text-decoration : none;

   &:hover {
      color           : #1e70bf;
      border-bottom   : 2px solid;
   }
}
