/* ---- GLOBAL -------------------------------------------------------------- */

#app {
   margin-top   : 2.2ex;
   margin-left  : auto;
   margin-right : auto;
   max-width    : 800px;
   padding-left : 2.1em;
   padding-right: 2em;
   /*font-family  : 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;*/
}

@media screen and (max-width: 760px) {
   #app {
      margin-left  : auto;
      margin-right : auto;
      padding-left : 2.1em;
      padding-right: 1.9em;
      width        : 100%;
   }
}

@media screen and (max-width: 600px) {
   #app {
      padding-right: 1.8em;
   }
}

hr {
   border        : 0;
   height        : 0;
   margin        : 0;
   border-top    : 1px solid rgba(0, 0, 0, 0.1);
   border-bottom : 1px solid rgba(255, 255, 255, 0.3);
}

/* stop ui jitter */
html {
   overflow-y: scroll;
}

/* reset */
address {
   font-style: normal;
}

/* ---- HEADER -------------------------------------------------------------- */

/* ---- Layout --------------------- */

/* parent container */
header .nav {
   margin-bottom   : 1em;
   display         : flex;
   align-items     : center;
   justify-content : space-between;
   font-family     : "Lato";

   .right-menu {
      display: flex;
   }

   .left-logo {
      font-size      : 2.3rem;
      font-weight    : 700;
      color          : gray;
      word-wrap      : break-word;
      padding-right  : 0.4em;
   }
}

/* ---- Links ---------------------- */

/* navigation items */
header .nav .item {
   display         : inline-block;
   margin-left     : 0.8em;
   padding         : 0.9em 1.5em;
   vertical-align  : middle;

   text-decoration : none;
   font-weight     : 700;

   &.default {
      color: #3E8CEF;

      &:hover {
         background: #F8F8F8;
      }
   }

   &.active {
      background    : #3E8CEF;
      color         : white;
      border-radius : 4px;
   }
}

@media screen and (max-width: 760px) {
   header .nav .item {
      margin-left: 0.5em;
   }
}

@media screen and (max-width: 600px) {
   header .nav {

      .item {
         margin-left : 0.4em;
         padding     : 0.7em 1em;
      }

      .left-logo {
         font-size: 1.5rem;
      }
   }
}

/* ---- FOOTER -------------------------------------------------------------- */

#footer {
   font-size      : 1em;
   padding-bottom : 1em;
   font-family    : "Roboto";
   font-size      : 15px;
   font-weight    : 400;

   hr {
      margin-bottom: 15px;
   }

   a {
      color           : #4183c4;
      text-decoration : none;

      &:hover {
         color         : #1e70bf;
         border-bottom : 2px solid;
      }
   }

}
