/* ---- AboutView ----------------------------------------------------------- */

/* main content container */
#AboutView #AboutBody {
   margin-bottom: 4ex;
}

#AboutView #AboutBody article {
   margin-bottom : 3ex;
}

#AboutView #AboutBody {
   line-height : 2.6ex;
   font-family : "Roboto";
   font-size   : 1em;
   margin-top  : 0;
}

#AboutView #AboutBody article h2 {
   margin-bottom: 1ex;
}

/* list style */
#AboutView #AboutBody article ul {
   margin-top          : 0;
   padding-left        : 0;
   list-style-position : outside;
   list-style-type     : square;
}

/* list item */
#AboutView #AboutBody article ul li {
   margin-bottom: 0.5ex;
}

#AboutView #AboutBody article .flexed {
   display: flex;
   flex-flow: wrap;
}

/* map icon helper */
#AboutView #AboutBody article .helper {
   margin-left: 3ex;
}

/* map icon helper */
@media screen and (max-width: 600px) {
   #AboutView #AboutBody article .helper {
      margin-left: 1em;
   }
}

/* ---- Links ---------------------- */

#AboutView #AboutBody a {
  color           : #008fd5;
  text-decoration : none;
}

#AboutView #AboutBody a:hover {
  color         : #1e70bf;
  border-bottom : 2px solid;
}